/* Úpravy pro navbar */
.navbar {
}

.nav-link {
    color: #fff; /* Tarva textu */
    font-weight: bold; /* Tučné písmo */
}

.nav-link:hover {
    color: #099721; /* Změna barvy textu při přejetí */
}
